# Виртуальная среда
.venv/
venv/

# env-файлы
.env
*.env

# Alembic (если не хочешь коммитить миграции)
# alembic/
# alembic.ini

# Python кеши
__pycache__/
*.pyc
*.pyo
*.pyd

# logs
*.log

alembic
alembic.ini

# PyCharm
.idea/
*.iml

